<html>
    <p>
    <%= game_state(@tally, @original_word) %>
    <p>

    <div class="row">
    <div class="col-md-4"> 
        <%= render "_gallows.html", left: @tally.turns_left %>
    </div>
    <div class="col-md-7 offset-md-1">
     <%= render "_game_form.html", tally: @tally, conn: @conn%>
    </div>
</html>