<html>
    <p>
    <%= game_state(@tally) %>
    <p>
    <p>
    Turns Left:  <%= @tally.turns_left%>
    </p>

    <p>
            Word so far: <%= @tally.letters |> Enum.join("        ")%>
    </p>

      <%= form_for(@conn, hangman_path(@conn, :make_move), [as: :make_move, method: :put], fn form ->  %>
      <%= text_input(form, :guess) %>
      <%= submit("Make Move") %>
  <% end)%>
</html>